.main-navigation {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: calc(100% - 64px);
    height: 3.5rem;
    background-color: #4791d2;
    padding: 0 32px;
}

.main-navigation-logo h1 {
    margin: 0;
    font-size: 2rem;
    color: white;
}

.main-navigation-item {
    margin-left: 32px;
}

.main-navigation-item ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-navigation-item ul li {
    margin: 0 16px;
}

.main-navigation-item ul li a {
    text-decoration: none;
    color: white;
}

.main-navigation-item a:hover,
.main-navigation-item a:active,
.main-navigation-item a:active {
    color: yellowgreen;
}

.main-navigation-item .logout button {
    border: none;
    background-color: #4791d2;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    outline: none;
}

.main-navigation-item .logout button:hover {
    border-radius: 9999px;
    background-color: white;
    color:#4791d2;
    padding: 6px 12px
}