.auth-form {
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-control label,
.form-control input {
    width: calc(100% - 16px);
    display: block;
}

.form-control label {
    font-size: 1rem;
    margin-bottom: 8px;
}

.form-control input {
    padding: 8px;
    border-radius: 12px;
    border: 1px solid #4791d2;
    outline: none;
}

.form-control textarea {
    width: calc(100% - 48px);
    border: 1px solid #4791d2;
    border-radius: 12px;
    outline: none;
    padding: 12px 24px;
}

.form-control {
    margin-bottom: 32px;
}

.form-actions .signin {
    border-radius: 9999px;
    border: none;
    background-color: #4791d2;
    color: white;
    padding: 12px 24px;
    outline: none;
    margin-right: 1rem;
    cursor: pointer;
}

.form-actions .signup {
    border-radius: 9999px;
    border: 1px solid #4791d2;
    background-color: white;
    color: #4791d2;
    padding: 12px 24px;
    outline: none;
    margin-right: 1rem;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.form-actions .signup:hover {
    background-color: #4791d2;
    color: white;
}

.event-content {
    margin: 5rem auto 0;
}

.btn {
    border: none;
    border-radius: 9999px;
    padding: 8px 24px;
    background-color: #4791d2;
    color: white;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    border: 1px solid #4791d2;
    background-color: white;
    color: #4791d2;
}

.event-list {
    list-style: none;
    padding: 0
}

.event-list li {
    border: 1px solid #4791d2;
    padding: 8px 14px;
    margin-bottom: 8px;
    font-size: 1rem;
}