.btn {
    border: 1px solid transparent;
    border-radius: 9999px;
    padding: 8px 24px;
    margin-left: 16px;
    background-color: #4791d2;
    color: white;
    cursor: pointer;     
    outline: none;
}

.btn:hover {
    border: 1px solid #4791d2;
    padding: 7px 23px;
    background-color: white;
    color: #4791d2;
}

.modal {
    width: 90%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    position: fixed;
    top: 6vh;
    left: 5%;
  }
  
  .modal-header {
    padding: 1rem;
    background: #4791d2;
    color: white;
  }
  
  .modal-header h1 {
    margin: 0;
    font-size: 1.25rem;
  }
  
  .modal-content {
    padding: 1rem;
  }
  
  .modal-action {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
  
  @media (min-width: 768px) {
    .modal {
      width: 30rem;
      left: calc((100% - 30rem) / 2);
    }
  }